/* whole body css start */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
.flexContainer {
    display: flex;
}

/* body css done */
/* first section css start */
.firstSection {
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}

.ownerOfWrold {
    color: orange;
}

.welcomeText {
    width: 40%;
    padding-left: 7%;
}

.firstBgImage {
    width: 74%;
    margin-left: 15%;
}

.hireButton {
    text-decoration: none;
    /* background-color: orange; */
    background-image: linear-gradient(rgb(252, 180, 48), rgb(250, 81, 51));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.hireButton:hover {
    background-image: linear-gradient(tomato, orange);
}

/* first section css done */
/* second section css start*/
.secondSection {
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

.secondBgImage {
    width: 606px;
    padding-left: 15%;
}

.middleText {
    width: 40%;
    padding-left: 5%;
}
/* second section css done */
/* third section css start*/
.thirdSection {
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
}
.fullDev, .babyDev  {
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    padding-bottom: 5%;
}
#babyBorder {
    border-image: linear-gradient(cyan, blue);
    border-image-slice: 1;
    border-left: 7px solid;
}
#fullBorder {
    border-image: linear-gradient(salmon, hotpink);
    border-image-slice: 1;
    border-left: 7px solid;
}



.experienceName {
    font-family: 'Ubuntu' sans-serif;
}

.experienceTitle {
    color: orange;
}

/* third section css done */
/* footer section css */
.footerText {
    text-align: center;
    padding-top: 10%;
}
.footerName {
    text-decoration: none;
    color: black;
}
.footerName:hover {
    color: hotpink;
}