body {
    font-family: 'Poppins', sans-serif;
}
.ownerOfWrold {
    color: orange;
}
h1 {
    font-size: 50px;
}
section {
    display: flex;
}
.welcomeText {
    width: 50%;
    padding: 5%;
}
.firstBgImage {
    width: 80%;
}
.hireButton {
    text-decoration: none;
    /* background-color: orange; */
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
